/* ModalCarrito.css */
.modal {
    display: none;
    position: fixed;
    z-index: 1050;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal.show {
    display: block;
}

.modal-dialog {
    max-width: 80%;
    margin: 15% auto;
}

.modal-content {
    background-color: #fff;
    border-radius: 8px;
    padding: 20px;
}

button {
    background-color: #007bff; /* Bootstrap Primary color */
    color: white;
}

button:hover {
    background-color: #0056b3;
}

.modal-header, .modal-footer {
    padding: 1rem;
}

.products-carrito {
    margin-top: 10px;
}
